# **Lista 2 - pré-processamento**

Para resolução da lista utilize os slides do material de pré-processamento e os códigos de pré-processamento e wordcloud.

## **Exercício**:
Para as pipelines de pré-processamento desenhadas abaixo faça:
1. Escreva um código que realize o pré-processamento e que em cada print seja mostrado o tamanho do vocabulário (utilizar as funções print, set e len)
2. Após executar o pré-processamento no texto plot as 20 mais frequentes.

In [3]:
##Texto para utilizar nas pipelines:
import wikipedia
wikipedia.set_lang("pt")
bh = wikipedia.page("Belo Horizonte")
corpus = bh.content ##este é o texto que será o input

In [4]:
# importar bibliotecas
from nltk.tokenize import word_tokenize
import nltk

# spacy para stemming e lemmantization
import spacy
nlp = spacy.load('pt_core_news_sm')

In [5]:
# Downloads necessários
nltk.download("stopwords")
nltk.download('punkt')
nltk.download('rslp')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lucia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lucia\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package rslp to
[nltk_data]     C:\Users\Lucia\AppData\Roaming\nltk_data...
[nltk_data]   Package rslp is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Lucia\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### 1ª - Pipeline
* Tokenizar as strings utilizando nltk
* Passar as palavras para minúsculo
* Remover stopwords
* Substituir números por NUMERO
* Remover pontos
* Remover acentos

In [6]:
# tokenização
tokens = word_tokenize(corpus, language='portuguese')

# passar as palavras para minúsculo
tokens = [word.lower() for word in tokens]

# remover stopwords
from nltk.corpus import stopwords
stop_words = set(stopwords.words('portuguese'))
tokens = [word for word in tokens if word not in stop_words]

# substituir números por NUMERO
tokens = ['NUMERO' if word.isdigit() else word for word in tokens]

# remover pontos
tokens = [word for word in tokens if word.isalnum()]

# remover acentos
import unidecode
tokens_pipeline_1 = [unidecode.unidecode(word) for word in tokens]

### 2ª Pipeline
* Tokenizar as strings utilizando nltk
* Passar as palavras para minúsculo
* Remover acentos
* Remover stopwords
* Substituir números por NUMERO
* Remover pontos
* Realizar stemming

In [7]:
#tokenização
tokens = word_tokenize(corpus, language='portuguese')

# passar as palavras para minúsculo
tokens = [word.lower() for word in tokens]

# remover acentos
tokens = [unidecode.unidecode(word) for word in tokens]

# remover stopwords
stop_words = set(stopwords.words('portuguese'))
tokens = [word for word in tokens if word not in stop_words]

# substituir números por NUMERO
tokens = ['NUMERO' if word.isdigit() else word for word in tokens]

# remover pontos
tokens = [word for word in tokens if word.isalnum()]

# realizar stemming com nltk
from nltk.stem import RSLPStemmer
stemmer = RSLPStemmer()
tokens_pipeline_2 = [stemmer.stem(word) for word in tokens]

# realizar stemming com spacy
tokens_pipeline_2_spacy = [word.lemma_ for word in nlp(" ".join(tokens))]

### 3ª Pipeline
* Tokenizar as strings utilizando nltk
* Passar as palavras para minúsculo
* Remover acentos
* Remover números
* Remover pontos
* Realizar lemmantization

In [8]:
# tokenização
tokens = word_tokenize(corpus, language='portuguese')

# passar as palavras para minúsculo
tokens = [word.lower() for word in tokens]

# remover acentos
tokens = [unidecode.unidecode(word) for word in tokens]

# remover números
tokens = [word for word in tokens if not word.isdigit()]

# remover pontos
tokens = [word for word in tokens if word.isalnum()]

# realizar lemmantization com nltk
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
tokens_pipeline_3 = [lemmatizer.lemmatize(word) for word in tokens]

# realizar lemmantization com spacy
tokens_pipeline_3_spacy = [word.lemma_ for word in nlp(" ".join(tokens))]


### 4ª Pipeline
* Tokenizar as strings utilizando nltk
* Passar as palavras para minúsculo
* Remover stopwords
* Remover números
* Remover pontos
* Realizar lemmantization

In [9]:
# tokenização
tokens = word_tokenize(corpus, language='portuguese')

# passar as palavras para minúsculo
tokens = [word.lower() for word in tokens]

# remover stopwords
tokens = [word for word in tokens if word not in stop_words]

# remover números
tokens = [word for word in tokens if not word.isdigit()]

# remover pontos
tokens = [word for word in tokens if word.isalnum()]

# realizar lemmantization
tokens_pipeline_4 = [lemmatizer.lemmatize(word) for word in tokens]

# realizar lemmantization com spacy
tokens_pipeline_4_spacy = [word.lemma_ for word in nlp(" ".join(tokens))]

In [12]:

print("Tamanho do vocabulário:")
print(f'Pipeline 1 NLTK: {len(set(tokens_pipeline_1))}')
print(f'Pipeline 2 NLTK: {len(set(tokens_pipeline_2))}')
print(f'Pipeline 3 NLTK: {len(set(tokens_pipeline_3))}')
print(f'Pipeline 4 NLTK: {len(set(tokens_pipeline_4))}')

print(f'Pipeline 2 SPACY Stemm: {len(set(tokens_pipeline_2_spacy))}')
print(f'Pipeline 3 SPACY  Lemm: {len(set(tokens_pipeline_3_spacy))}')
print(f'Pipeline 4 SPACY  Lemm: {len(set(tokens_pipeline_4_spacy))}')

Tamanho do vocabulário:
Pipeline 1 NLTK: 3387
Pipeline 2 NLTK: 2360
Pipeline 3 NLTK: 3433
Pipeline 4 NLTK: 3367
Pipeline 2 SPACY Stemm: 2993
Pipeline 3 SPACY  Lemm: 2893
Pipeline 4 SPACY  Lemm: 2873

In [ ]:
print("20 mais frequentes:")
from collections import Counter
import pandas as pd

# Converter a lista para um DataFrame
df_pipeline_1_nltk = pd.DataFrame([dict(Counter(tokens_pipeline_1).most_common(20))])
df_pipeline_2_nltk = pd.DataFrame([dict(Counter(tokens_pipeline_2).most_common(20))])
df_pipeline_3_nltk = pd.DataFrame([dict(Counter(tokens_pipeline_3).most_common(20))])
df_pipeline_4_nltk = pd.DataFrame([dict(Counter(tokens_pipeline_4).most_common(20))])

In [24]:
print("Pipeline 1 NLTK")
df_pipeline_1_nltk

Pipeline 1 NLTK

,NUMERO,horizonte,belo,cidade,minas,capital,gerais,municipio,brasil,regiao,area,mil,estado,habitantes,ainda,populacao,grande,maior,rio,nacional
0,566,152,150,109,66,51,45,42,33,32,32,32,28,28,28,27,27,26,26,26

In [21]:
print("Pipeline 2 NLTK")
df_pipeline_2_nltk

Pipeline 2 NLTK

,numer,bel,horizont,cidad,min,brasil,capit,sao,municipi,geral,are,grand,outr,tamb,habit,ano,mai,est,nov,regia
0,578,152,152,125,106,67,61,58,52,50,48,46,46,44,38,38,34,33,33,32

In [22]:
print("Pipeline 3 NLTK")
df_pipeline_3_nltk

Pipeline 3 NLTK

,de,e,a,o,do,da,em,que,com,horizonte,belo,no,na,cidade,para,uma,por,um,como,mais
0,993,613,605,438,431,394,259,198,153,152,150,150,122,109,92,89,87,85,83,76

In [23]:
print("Pipeline 4 NLTK")
df_pipeline_4_nltk

Pipeline 4 NLTK

,horizonte,belo,cidade,mina,capital,gerais,município,ano,brasil,região,área,mil,estado,habitantes,ainda,população,grande,maior,rio,nacional
0,152,150,109,67,51,45,42,38,33,32,32,32,28,28,28,27,27,26,26,26